{% extends "layouts/base.njk" %}
{% from "blocks/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/cta/cta.njk" import cta %}
{% from "blocks/intro/intro.njk" import intro %}
{% from "blocks/about-course/about-course.njk" import aboutCourse %}
{% from "blocks/button/button.njk" import button %}
{% from "blocks/autobiography/autobiography.njk" import autobiography %}
{% from "blocks/cartoon/cartoon.njk" import cartoon %}
{% from "blocks/videos/videos.njk" import videos %}
{% from "blocks/bio/bio.njk" import bio %}

{% block head %}
<link rel="stylesheet" href="/pages/about/about.scss" />
{% endblock %}

{% block content %}
{% call intro() %}
<h1 class="intro__heading">о сергее насибяне</h1>
{% endcall %}
{{bio()}}
{{autobiography({title: "автобиография",
text: [
"Я родился в семье совершенно простых людей в городе Баку. Моё детское стремление к тотальной справедливости, также как
у всех, эволюционировало в жесточайший юношеский максимализм. Учась в школе, занимаясь спортом, я, естественно, был
поглощен общественной работой. И в итоге, когда я вошел в так называемую элиту городского и, в результате,
республиканского комсомола, мне стало понятно, что моя жизнь будет связана, так или инач, с общественной
деятельностью.",
"В 90-м году, когда я окончил школу, мой диплом и мои навыки, которые у меня были на тот момент в спорте и в
общественной работе, позволяли мне исполнить мою мечту — поступить в высшее военно-морское училище им. Фрунзе в
Санкт-Петербурге, куда я, соответственно, направил все документы. Пройдя медкомиссию, я нацелился ехать туда
поступать.",
"Многие меня тогда отговаривали, но это была мечта. И в последний день школьной жизни, когда я сдал последний экзамен,
военрук моей школы посадил меня и сказал: «Теперь я расскажу тебе честно». И рассказал мне про то, что происходило тогда
в армии. Он мне сказал: «Пообещай мне, что ты никогда этого не сделаешь! Что ты никогда не пойдёшь в армию, потому что
тебя в армии с твоим характером или посадят или убьют». Я пообещать, наверное, в тот момент не мог, но то, что этот
разговор разрушил абсолютно иллюзию того, что есть армия, и что мне туда надо, это правда.",
"И тогда я оказался в шестнадцать лет в Москве без помощи и без какой-либо поддержки. Встал вопрос, куда идти работать,
куда идти учиться. В институт не брали без прописки, не прописывали без работы, но на работу тоже не брали без прописки,
поэтому, изучив все возможные способы и средства, я пошёл работать в психиатрическую больницу санитаром. Оттуда и
начался в принципе мой путь к самопознанию. Потому что, находясь в контексте и в пространстве психических больных, ни
один нормальный человек не может не задаться вопросом: а что же происходит на самом-то деле?",
"Будучи юным и молодым я, конечно, проглатывал книжки по психиатрии по одной книге за сутки работы. А работал я сутки
через двое. И в какой-то момент, когда я стал задавать вопросы нашим врачам-психиатрам, они мне стали пророчить будущее
психиатра и давать мне всякие наставления и направления для поступления в медицинский институт.",
"Всё бы хорошо, но в советское время, а это был год распада Советского Союза, в институте нужно было сдавать химию, и
это был единственный предмет, который я не знал в школе. И поэтому с перепугу я поступил в совершенно другой институт.
И, несмотря на то, что мне всегда больше хотелось заниматься изучением истории и, может быть, преподаванием истории,
вообще-то я мечтал быть военным атташе, или быть политруком в армии, и всё это были гуманитарные навыки, поступил я в
технический ВУЗ. И это был первый ВУЗ, который я успешно бросил — Московский строительно-инженерный институт. Потом у
меня были попытки учиться в авиационном институте. Все эти институты я удачно бросал.",
"У меня даже был период, в который меня не оставляло в покое желание быть на острие общественной жизни, и я, живя в
общежитии Бауманского института, уже не учась там, продолжал работать в профкоме Бауманского института, тогда ещё
училища. Через какое-то время стало понятно, что это тоже бессмысленно.",
"На улице был 1992-93 год и встал вопрос уже реального выживания, потому что из общежития нужно было съезжать, я не мог
там жить, не учась в ВУЗе, и так далее…",
"И тогда мы с друзьями, с которыми познакомились когда-то «на абитуре», и жили все вместе, решили, что пойдём в бизнес.
К сожалению, на тот момент ни у кого из нас не было наставника в бизнесе, и бизнес, который мы делали, мы делали на
коленке, но при этом при всём 90-е годы прощали все ошибки и приносили деньги. Мы стали зарабатывать достаточно быстро и
достаточно хорошо. Что очень сильно испортило наше сознание, потому что деньги, которые стали даваться легко, они
отвлекли каждого из нас от нашей мечты, которая у каждого из нас была. А мы были жёсткими романтиками.",
"Наверное, в двадцать четыре года, когда погиб мой самый близкий друг, я в первый раз задался вопросом, что может быть я
делаю что-то не так. На тот момент наша жизнь была не просто в начале подъёма, она расцветала, как же так могло
случиться? И это был вопрос, который вернул меня опять к темам, которые интересовали меня с четырнадцати лет: об
устройстве этого мира, вопросы о справедливости. Понятно, что в юности в общаге мы зачитывали до дыр книги Карлоса
Кастанеды, Бхагават Гиту, то есть всё, что было доступно тогда, и всё, что было связано с духовностью, мистикой. «Молот
Ведьм» мы брали читать в Библиотеке имени Ленина, единственная возможность взять эту книгу была только там. И мы
зачитывали, конспектировали, переписывали.",
"Я не могу себя назвать успешным бизнесменом, просто многое тогда прощалось, можно было делать всё что угодно и это
приносило деньги. Я продолжал заниматься бизнесом, читая книги, как-то развиваясь, ходя на разные семинары, обучаясь на
различных курсах. Изучал трейдинг и работу трейдеров и многое другое, связанное с финансами и с бизнесом, но тогда
всё-таки не было такой возможности учиться как сейчас.",
"В один момент, на спор, мой папа сказал мне, что я до сих пор не получил высшее образование, а значит — ничего не
считается, и я понял, что нужно идти учиться. И закончил экстерном с красным дипломом Московский институт коммунального
хозяйства и строительства. По первому образования я официально управляющий инвестиционными потоками. Что, неожиданно для
меня, пригодилось в жизни неоднократно, и пригождается до сих пор, потому что сегодня мои консультации, которые я
провожу, так или иначе опираются на мои знания менеджмента и маркетинга, которые я изучил в академическом смысле этого
слова, получая знания по этим предметам от лучших педагогов, которые приезжали в Москву их преподавать.",
"Закончив этот институт, я клятвенно пообещал, что никогда ничего строить не буду и заниматься я строительством не буду.
Защитился я на отлично. И дала мне эту возможность только одна вещь -я всегда умел учиться.",
"К тому времени я уже с головой ушел в развлекательный, ресторанный, игорный бизнес, деньги шли достаточно хорошо. Но
что-то стало происходить со мной — я перестал спать. И, где-то через два года бессонницы, а это было невыносимо, я вдруг
обнаружил себя сидящим в кресле в своём кабинете с весом 130 кг, с ужасной отдышкой и медицинской картой, которая была
похожа на трёхтомник Л. Н. Толстого «Война и Мир». Совершенно случайно, я увидел свою фотографию, там, где мне
пятнадцать, и я еду в очередную поездку от Бакинского райкома комсомола по двенадцати городам Советского Союза с разными
семинарами, выступлениями и всем остальным.",
"Увидев свою фотографию, я понял очень интересную штуку: то, что со мной происходит, то состояние моего здоровья, та
жизнь, которая у меня была на тот момент, а я уже был женат, у меня была дочь, квартира, машина, всё это понятно, и вот
этот конфликт, в котором я живу, он и является причиной такого моего состояния. И тогда я стал искать ответ на вопрос: а
что это за конфликт? И это оказался очень простой конфликт — я не выполнил ни одного желания, ни одной мечты не
реализовал, которые были у того пацана в пятнадцать. И тогда я понял, что я не имею к нему никакого отношения. Я понял
вдруг, что я как будто живу чужую жизнь.",
"До этого я прочитал всего Юнга, Фрейда, я знал всё про Эго, Суперэго, Анима, Анимус, про все возможные теневые стороны
личности. В теории, я всё это знал в теории. В этот момент я как будто обнаружил в себе вот эту самую персону, которую
описывал Юнг, т. е. некую маску, которая съедала мою личность и которую я одел тогда, в 1992 году.",
"На дворе тогда стоял 2007 год, и я совершенно случайно узнал о том, что существуют тренинги личностного роста. Попав на
свой первый Базовый курс, я вдруг увидел себя сидящим в одной группе в ещё пятьюдесятью людьми, и у каждого из них была
одна большая проблема: каждый из них не понимал, что ему делать с его жизнью. Для меня это стало не просто открытием, а,
наоборот, что называется закрытием гештальта. Я понял, что большая часть людей живет в том же конфликте, что и я.",
"Умея учиться, я принял для себя решение, что я буду учиться у этого человека, моего тренера Базового курса, всему, что
он скажет. И когда я прошел свой второй тренинг, это было через неделю, свой Продвинутый курс, я принял решение, что я
должен делать то же самое. Я впервые в жизни увидел место, в котором я должен быть. Причина была одна, самая главная,
пожалуй, была причина, что я знал всё, что он говорит в теории, но я не понимал где и как я могу применять это на
практике.",
"Мне было на тот момент было 33 года и это моё состояние было связано с моим духовным ростом, с эмоциональным кризисом.
Я принял решение, что буду у него учиться, и он поставил передо мной две задачи: первое, он сказал мне, что я должен
похудеть, а второе, он сказал мне, что я должен бросить бизнес. Бросить бизнес оказалось легко, похудеть немного
сложнее, но и это тоже мне удалось. После чего я стал всё своё свободное время посвящать тренингам, семинарам, и их
написанию, проведению, прохождению. В течение тех лет у меня был период, когда я вёл передачу на телевидении, это
психологическая передача «Скажи, что не так», был соведущим Яны Лобутиной. И это был момент, когда меня узнавали на
улице, задавали разные вопросы, брали интервью для журналов.",
"И всё равно чего-то не хватало.",
"Тогда я принял решение, что я должен защитить диплом по психологии, и я пошёл учиться на психфак. И за эти годы я
изучил все из известных подходов психологических школ и психотерапевтических школ, применяя эти инструменты так или
иначе на практике. При всём моём уважении к психологии, как к науке, и психотерапии, как к методу, я для себя вывел
очень важную мировоззренческую концепцию, что для того чтобы люди стали об этом задумываться им необходимо очень резкое
прозрение, и вот это прозрение, это то, что даёт тренинг. И поэтому я принял решение, что тренинги я буду вести всю свою
жизнь.",
"Потому что в ведении тренингов во всей совокупности соединяется и моё детское стремление к справедливости, потому что у
каждого человека возникает вопрос: «почему я не имею того, что имеют другие?»; и мой юношеский максимализм, который
говорит внутри меня о том, что каждый человек достоин жить так, как он хочет, и способен, главное, достигать тех целей,
которые он хочет, и моя любовь и моё преклонение пред психологией, вот в тренингах всё это соединяется.",
"Теперь у меня у меня есть возможность рассказывать что-то людям не просто на словах, а показывать, как устроена
реальность, в которой они находятся. Понятно, что нельзя говорить, что после этих тренингов человек понимает всё вообще,
но то, что тренинг прочищает сознание, это правда. Он прочищает сознание как понюшка табаку. То есть, через какое-то
время после того как вы понюхаете табак, ваше восприятие мира меняется на несколько секунд. Оно становится кристально
чистым. А дальше вопрос — будет что-то делать человек или не будет.",
"На сегодняшний день я могу себя считать вполне успешным состоявшимся консультантом, психологом, коучем, тренером.
Сегодня вся та ситуация, которая существует у нас на рынке позволяет мне быть востребованным. Это означает, что каждое
моё действие. Которое направлено на улучшение моих профессиональных навыков или на набор этих навыков, делает меня
дороже как специалиста во всех смыслах этого слова. Дороговизна специалиста измеряется не деньгами или не всегда
деньгами. А именно тем, насколько применение его методов изменяет ситуацию в вашей жизни. Поэтому я сегодня снова иду
учиться и намереваюсь защитить кандидатскую диссертацию на тему своей работы.",
"Сейчас в моей жизни есть два самых важных направления, одно из которых — это психология, а второе — это путешествия.
Многие меня знают, как не просто туриста, а как путешественника-исследователя Индии и Востока. Я родился и провёл
детство в местах, где до сих пор существуют древнейшие храмы древних цивилизаций, и для меня ещё с тех пор внутренние
вопросы были открыты внутри меня, но не закрыты теми знаниями, которые мне давало изучение истории и рассказы моих
близких взрослых, они не отвечали мне на эти вопросы: кто построил? Почему их построил? Все эти исследования привели
меня в Индию. И Индия открыла для меня ещё больший пласт неизмеримой информации, которую мне приходится сегодня
поглощать через книги, фильмы, и мои же путешествия.",
"И поэтому сегодня я делаю только две вещи: путешествую и работаю. В промежутках мне удаётся раскрывать свой творческий
потенциал написанием сценариев, книг, консультациями актёров по их мастерству. Скоро я приступаю к написанию очередного
сценария, уже для полного метра.",
"Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это
не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому
что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.",
"Через мои тренинги за эти годы прошло больше 15 тысяч человек, которые так или иначе коснулись того, чему я обучал всё
это время. В пространстве тренингов я понимаю, что все делают одно и то же, и наша задача, моя задача сегодня,
выработать свой собственный навык. Я думаю, что я могу с уверенностью говорить о том, что за это время я научился
соединять максимальное количество полезной и нужной информации с навыками и упражнениями, в результате которых человек
меняет своё отношение к собственной жизни.",
"Если сегодня спросить у меня в чём моя основная миссия, то конечно, как бы высокопарно это не звучало, моя миссия
пробуждать людей, которые попадают в моё поле, тех, кто рядом со мной. Пробуждать не в смысле какого-то духовного
просветления, пробуждать в смысле их собственной ответственности за свою жизнь и способности и возможности влиять на эту
жизнь. Чем больше людей мне удастся пробудить к их влиянию на их же жизнь, тем больше я получу для себя очков и бонусов,
в которых заложено моё самоудовлетворение тем, что я делаю.",
"Сегодня мне как никогда нравится моя жизнь. Совсем недавно, пять лет назад в свой день рождения, я написал, что даже
мечтать не мог о том, что я буду жить так, как я живу сейчас, когда мне нравиться каждая моя прожитая секунда, когда я
не хочу ничего изменить ни в одном из дней, когда я не жалею ни о чём. И это как раз работа с умом. Многие могут
подумать, что я много зарабатываю и хорошо живу и поэтому я такой. Нет, это не об этом. Я говорю о работе с умом, о том,
чтобы искоренить в своей голове сожаления и научиться принимать решения. Вот две вещи, которым человеку необходимо
научиться для того, чтобы его жизнь стала такой, как он хочет: принимать решения и учиться избегать сожалений о принятом
решении."
]}) }}
{{videos()}}
{{cartoon()}}
{{cta({title:"записаться на тренинг"})}}
{{ breadcrumbs([
{
name: "Главная",
url: "/main/"
},
{
name: "О Сергее Насибяне",
url: "#"
}
]) }}
{% endblock %}

{% block scripts %}
<script type="module" src="/pages/about/about.js"></script>
{% endblock %}