{% from "blocks/button/button.njk" import button %}
{% macro seminarAbout(data) %}
<section class="seminar-about container container_width_middle">
    <div class="gradient_type_gold">
        <div class="seminar-about__header">
            <h2 class="seminar-about__header-title">Семинар «Цели и Ценности»</h2>
            <p class="seminar-about__header-text">Мы привыкли списывать прокрастинацию на отсутствие ресурсов — денег,
                времени или возможностей. Но реальная причина саботажа — отсутствие истинной мотивации.</p>
            <p class="seminar-about__header-text">На семинаре мы переключим внимание на внутренний ресурс, перейдем к
                осознанности и возьмем ответственность за собственное движение вперед.</p>
        </div>
    </div>
    <div class="seminar-about__section">
        <h3 class="seminar-about__section-title">В программе семинара:</h3>
        <ul>
            <li><b>Определение ценностей:</b> какие ценности ваши, а не навязанные, и как много их существует</li>
            <li><b>Урок мотивации:</b> научитесь мотивировать себя, чтобы не откладывать действия, наслаждаться
                процессом и доводить идеи до результата</li>
            <li><b>Разбор желаний:</b> чего хотите именно вы и совпадает ли это с тем, что вы делаете</li>
            <li><b>Порядок целей:</b> что нужно поставить в приоритет на данном этапе жизни</li>
            <li><b>Утечка энергии:</b> на что лишнее вы тратите энергию и внимание, и как направить ресурс на результат
            </li>
        </ul>
    </div>
    <div class="gradient_type_gold">
        <div class="seminar-about__subdescription">
            <p class="seminar-about__subdescription-text">Вы получите свежий список истинных ценностей, карту значимых
                целей и четкое понимание, с какого шага начать.</p>
        </div>
    </div>
    <div class="seminar-about__section">
        <h3 class="seminar-about__section-title">В итоге семинара:</h3>
        <ul>
            <li><b>Повысите мотивацию и продуктивность</b> — научитесь мотивировать себя так, чтобы появлялись и
                желание, и реальные силы для действий.</li>
            <li><b>Уберете конфликт</b> между тем, что ценно для вас и тем, что нужно в моменте.</li>
            <li><b>Поймете разницу</b> между убеждениями и ценностями – откроете новый маршрут к целям.</li>
            <li><b>Найдете ту самую «запускающую» цель,</b> которая позволит реализовать остальные задачи быстрее, проще
                и эффективнее.</li>
        </ul>
    </div>
    <div class="gradient_type_gold">
        <div class="seminar-about__subdescription">
            <p class="seminar-about__subdescription-text">Вы наведете порядок в приоритетах, вспомните свои прошлые
                победы и выйдете с понятным планом действий.</p>
        </div>
    </div>
    <div class="seminar-about__footer">
        <p><b>Формат:</b> Очный семинар</p>
        <p><b>Продолжительность:</b> 3,5–4 часа</p>
        <p><b>АЗИМУТ ОТЕЛЬ, ул. Смоленская, д.8, Москва</b></p>
        <p><b>Стоимость:</b> 10 000 ₽</p>
    </div>
    {{button({theme:'primary', class:"seminar-about__button", text:'Записаться на семинар'})}}
</section>
{% endmacro %}