.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color var(--transition-fast),
    color var(--transition-fast),
    opacity var(--transition-fast);
  white-space: nowrap;
  height: fit-content;
}

.button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

.button:focus-visible {
  outline: 2px solid currentcolor;
  outline-offset: 3px;
}

/* Themes */
.button_theme_primary {
  border-radius: 24px;
  border: 1px solid var(--color-accent-brown);
  padding: 15px 31px;
  background-color: var(--color-accent-brown);
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-white);
}

.button_theme_primary:hover {
  border: 1px solid var(--color-accent-sand);
}

.button_theme_primary:active {
  color: var(--color-accent-sand);
}

.button_theme_secondary {
  border: 2px solid var(--color-accent-sand);
  border-radius: 24px;
  padding: 14px 30px;
  background-color: transparent;
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-accent-sand);
}

.button_theme_secondary:hover {
  background-color: var(--color-accent-sand);
  color: var(--color-white);
}

.button_theme_tertiary {
  border-bottom: 2px solid #c59857;
  padding: 16px 4px 14px;
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #CEBDB0;
  position: relative;
}

.button_theme_tertiary::after {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background-image: url(../../assets/icons/arrow.svg);
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}


/* Width */
.button_width_full {
  width: 100%;
}