{% from "blocks/question/question.njk" import question %}

{% macro faq(data) %}
<section class="faq">
    <div class="faq__container container">
        <h2 class="faq__title">часто задаваемые вопросы</h2>
        {{ question({
        question: "Зачем идти на тренинг?",
        answer: "На моих тренингах у каждого участника есть возможность распознать собственные ограничения и увидеть их
        связь с сегодняшними результатами, взглянуть на свою жизнь под совершенно новым углом, понять, что лежит в
        основе и происходит с эмоциональным фоном и почему те эмоции и чувства, которые он испытывает, ему не нравятся,
        ответить на основные вопросы, которые он задаёт сам себе. А также получить, практически освоить и
        потренироваться применять в безопасном пространстве универсальные и работающие инструменты для желаемых
        качественных изменений в своей жизни ."
        }) }}

        {{ question({
        question: "С какого возраста можно идти к вам на тренинг или консультацию?",
        answer: "На тренинг и консультации можно записаться всем желающим с 18 лет."
        }) }}

        {{ question({
        question: "Сколько нужно консультаций для решения моей проблемы?",
        answer: "Количество консультаций, необходимое для решения запроса, каждый раз подбирается индивидуально. В
        среднем нужно
        2-3 сессии для проработки запроса и ещё 2 сессии для закрепления результата. Эффективность зависит в том числе
        от вашей
        внутренней готовности к работе"
        }) }}
    </div>
</section>
{% endmacro %}