{% from "blocks/question/question.njk" import question %}

{% macro faq(data) %}
<section class="faq">
    <div class="faq__container container">
        <h2 class="faq__title">часто задаваемые вопросы</h2>
        {{ question({
        question: "Зачем идти на тренинг?",
        answer: ""
        }) }}

        {{ question({
        question: "С какого возраста можно идти к вам на тренинг или консультацию?",
        answer: ""
        }) }}

        {{ question({
        question: "Сколько нужно консультаций для решения моей проблемы?",
        answer: "Количество консультаций, необходимое для решения запроса, каждый раз подбирается индивидуально. В
        среднем нужно
        2-3 сессии для проработки запроса и ещё 2 сессии для закрепления результата. Эффективность зависит в том числе
        от вашей
        внутренней готовности к работе"
        }) }}
    </div>
</section>
{% endmacro %}