.faq {
    &__container {
        padding-block: 60px;
    }

    &__title {
        color: var(--color-accent-sand);
        text-align: center;
        padding-bottom: 40px;
        margin: 0;
    }
}