.faq {
    &__container {
        padding-block: 60px;

        .question:last-child {
            border-bottom: none;
        }
    }

    &__title {
        color: var(--color-accent-sand);
        text-align: center;
        padding-bottom: 40px;
        margin: 0;
    }
}