{% macro autobiography(data) %}
<section class="autobiography" data-js="autobiography">
    <div class="autobiography__container container">
        <h2 class="autobiography__title">{{data.title}}</h2>
        <div class="autobiography__body">
            <div class="autobiography__left-top-corner"></div>
            <div class="autobiography__right-top-corner"></div>
            <div class="autobiography__right-bottom-corner"></div>
            <div class="autobiography__left-bottom-corner"></div>
            <div class="autobiography__top-line"></div>
            <div class="autobiography__right-line"></div>
            <div class="autobiography__bottom-line"></div>
            <div class="autobiography__left-line"></div>
            <div class="autobiography__text-wrap" data-js="autobiography-wrap">
                <div class="autobiography__text">
                    {% for paragraph in data.text %}
                    <p class="autobiography__paragraph">{{ paragraph }}</p>
                    {% endfor %}
                </div>
            </div>

            <button class="autobiography__toggle" data-js="autobiography-toggle" aria-expanded="false"
                aria-label="Читать полностью" type="button">
                <span class="autobiography__icon" aria-hidden="true">↓</span>
            </button>
        </div>
    </div>
</section>
{% endmacro %}