{% from "blocks/button/button.njk" import button %}

{% macro book(data) %}
<section class="book">
    <h1 class="container book__heading">Книги сергея насибяна</h1>
    <div class="book__container">
        <div class="book__wrap container">
            <h2 class="book__title">КНИГА «ПРОВОКАТОР. ЗАГЛЯНИ СВОИМ СТРАХАМ В ЛИЦО»</h2>
            <div class="book__card">
                <div class="book__image">
                    <img src="{{ 'images/provokator.webp' | url}}"
                        alt="КНИГА «ПРОВОКАТОР. ЗАГЛЯНИ СВОИМ СТРАХАМ В ЛИЦО»" loading="lazy">
                </div>
                <div class="book__info">
                    <p class="book__author">Сергей Насибян, Яна Поляруш</p>
                    <div class="book__content">
                        <h3>Описание книги</h3>

                        <p>Высокооплачиваемый и успешный виртуоз провокативной психологии Сергей Вольский переживает
                            кризис
                            среднего возраста. Неожиданно для него возникает предложение, от которого впервые он хочет
                            отказаться: ехать придется туда, куда зарекся не возвращаться никогда — на его малую родину.
                            Сергей называет такую цену, от которой клиент точно откажется сам. Но он, точнее, она,
                            соглашается!
                            Водоворот событий: случайные встречи, атмосфера места, где Сергей провел свое непростое
                            детство
                            и откуда когда-то сбежал, новые знакомства и старые связи, — затягивают его на самое дно.
                        </p>
                        <p>Сможет ли Вольский, чей метод провокации всегда лихо, безжалостно, но результативно помогал
                            другим, помочь себе? Выдержит ли встречу со своим глубинным страхом? Но главное —
                            удастся ли ему
                            разгадать многолетний секрет семьи, обратившейся к нему за помощью?</p>
                        <h3>Об авторах</h3>
                        <p>Сергей Насибян — психолог, бизнес-тренер, коуч, программный директор Forbes Ontology, адепт
                            метода провокативной психологии, консультант и прототип главного героя сериала «Триггер»
                            (1-й сезон). Проводит тренинги и семинары личной эффективности и бизнес-тренинги для крупных
                            российских и европейских компаний.</p>
                        <p>Яна Поляруш — член союза писателей «Союздетлит», писатель, издатель («Альтер Эго Бук»),
                            кинорежиссер, сценарист.</p>
                    </div>
                    {{button({theme:'primary',text:'Где можно купить', class:'book__button'})}}
                </div>
            </div>
            <div class="book__gallery">
                <a href="{{ 'images/book/gallery1.webp' | url }}" class="book__gallery-item">
                    <img src="{{ 'images/book/gallery1.webp' | url }}" alt="Фото 3" loading="lazy">
                </a>
                <a href="{{ 'images/book/gallery2.webp' | url }}" class="book__gallery-item">
                    <img src="{{ 'images/book/gallery2.webp' | url }}" alt="Фото 3" loading="lazy">
                </a>
                <a href="{{ 'images/book/gallery3.webp' | url }}" class="book__gallery-item">
                    <img src="{{ 'images/book/gallery3.webp' | url }}" alt="Фото 3" loading="lazy">
                </a>
            </div>

        </div>
    </div>
</section>
{% endmacro %}