{% macro requests(data) %}
<section class="requests">
    <div class="requests__container container">
        <h2 class="requests__title">С какими запросами я&nbsp;работаю</h2>
        <p class="requests__description requests__description_medium">Ключевые направления: выход из&nbsp;состояния
            тревоги, неуверенности и безысходности.</p>
        <p class="requests__description requests__description_light">Работа с&nbsp;деструктивным поведением
            в&nbsp;сферах бизнеса,
            семейных отношений, социальных контактов, творчества и&nbsp;самопрезентации.</p>
        <div class=" requests__items">
            <div class=" requests__item">
                <h3 class=" requests__item-title">Сложные эмоциональные состояния</h3>
                <p class=" requests__item-description">тревожность, депрессивные фоны, самокритика, страхи,
                    внутренние конфликты</p>
            </div>
            <div class=" requests__item">
                <h3 class=" requests__item-title">Отношения и&nbsp;границы</h3>
                <p class=" requests__item-description">конфликты в&nbsp;семье и коллективе, эмоциональная
                    зависимость,
                    умение говорить «нет»</p>
            </div>
            <div class=" requests__item">
                <h3 class=" requests__item-title">Личная эффективность и&nbsp;бизнес</h3>
                <p class=" requests__item-description">прокрастинация, потеря смыслов, поиск целей, тупики в
                    &nbsp;самореализации и&nbsp;лидерстве</p>
            </div>
            <div class=" requests__item">
                <h3 class=" requests__item-title">Работа со&nbsp;стрессом</h3>
                <p class=" requests__item-description">выгорание, баланс работы и&nbsp;жизни, восстановление внутреннего
                    ресурса.</p>
            </div>
        </div>
    </div>
</section>
{% endmacro %}