{% macro requests(data) %}
<section class="requests">
    <div class="requests__container container">
        <h2 class="requests__title">С какими запросами я работаю</h2>
        <p class="requests__description requests__description_medium">Ключевые направления: выход из состояния тревоги,
            неуверенности и безысходности.</p>
        <p class="requests__description requests__description_light">Работа с деструктивным поведением в сферах бизнеса,
            семейных отношений, социальных контактов, творчества и самопрезентации.</p>
        <div class=" requests__items">
            <div class=" requests__item">
                <h3 class=" requests__item-title">Сложные эмоциональные состояния</h3>
                <p class=" requests__item-description">тревожность, депрессивные фоны, самокритика, страхи,
                    внутренние конфликты</p>
            </div>
            <div class=" requests__item">
                <h3 class=" requests__item-title">Отношения и границы</h3>
                <p class=" requests__item-description">тконфликты в семье и коллективе, эмоциональная зависимость,
                    умение говорить «нет»</p>
            </div>
            <div class=" requests__item">
                <h3 class=" requests__item-title">Личная эффективность и бизнес</h3>
                <p class=" requests__item-description">прокрастинация, потеря смыслов, поиск целей, тупики в
                    самореализации и лидерстве</p>
            </div>
            <div class=" requests__item">
                <h3 class=" requests__item-title">Работа со стрессом</h3>
                <p class=" requests__item-description"> выгорание, баланс работы и жизни, восстановление внутреннего
                    ресурса.</p>
            </div>
        </div>
    </div>
</section>
{% endmacro %}