{% from "blocks/video-card/video-card.njk" import videoCard %}

{% macro videoCourse(data) %}
<section class="video-course container">
    <h2 class="video-course__title">видео о курсе</h2>
    <div class="video-course__items">
        {{videoCard({class:"video-course__item", video:'<lite-youtube videoid="TV-e3LG1Ckk" playlabel="БАЗОВЫЙ КУРС
        вопросы-ответы"></lite-youtube>', title:"БАЗОВЫЙ КУРС
        вопросы-ответы"})}}
        {{videoCard({class:"video-course__item", video:'<lite-youtube videoid="TV-e3LG1Ckk"
            playlabel="Сергей Насибян о Базовом курсе"></lite-youtube>', title:"Сергей Насибян о Базовом курсе"})}}
    </div>
</section>
{% endmacro %}