{% macro podcasts(data) %}
{% set podcastTitles = [
{
title:'Почему молчание хуже ссоры?',
duration:'43:14'
},
{
title:'Все изменяют всем',
duration:'39:35'
},
{
title:'Брак по любви - это миф',
duration:'55:13'
},
{
title:'Стыд, вина и одиночество. Как избавиться от тревоги',
duration:'46:53'
},
{
title:'Как найти любовь. Чувства, измены, ревность. 30 вопросов психологу',
duration:'1:01:53'
},
{
title:'50 главных вопросов психологу',
duration:'1:07:14'
}
] %}
<section class="podcasts container">
    <div class="gradient_type_gold">
        <div class="podcasts__wrap">
            <h2 class="podcasts__title">подкасты</h2>
            <p class="podcasts__description">Прямые разговоры без пафоса, без воды, с юмором и силой.<br>
                Речь — о страхах, самооценке, любви, смысле жизни и том, как быть собой.</p>
            <div class="podcasts__items">
                {% for item in podcastTitles %}
                <div class="podcasts__item">
                    <button class="button button_player">
                        <svg width="12" height="13">
                            <use href="{{ 'images/sprite/sprite.svg#icon-play' | url }}"></use>
                        </svg>
                    </button>
                    <div class="podcasts__item-info">
                        <div class="podcasts__item-title">
                            <p>{{item.title}}</p>
                            <p class="podcasts__item-small">Видеоподкаст</p>
                        </div>
                        <div class="podcasts__item-duration">{{item.duration}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endmacro %}