{% from "blocks/button/button.njk" import button %}

{% macro lecture(data) %}
<section class="lecture">
    <div class="lecture__container container container_width_narrow">
        <h2 class="lecture__title">Интуиция. Как слышать себя в мире неопределенности</h2>
        <p class="lecture__description">Как перестать тонуть в шуме прошлого, страхах настоящего и сотнях сценариев
            будущего</p>
        <img class="lecture__image" src="{{ 'images/lectures/lecture1.webp' | url }}"
            alt="Интуиция. Как слышать себя в мире неопределенности">
        <div class="lecture__content">
            <p>Снова приняли решение «по логике», а потом пожалели, что не доверились внутреннему чувству?</p>
            <br>
            <p>В мире переизбытка информации опираться только на расчеты — путь к выгоранию и тревоге. Но где проходит
                грань между накопленным опытом, работой бессознательного и простым умением замечать возможности там, где
                другие видят лишь риски?</p>
            <br>
            <p>На лекции мы разложим механизм интуиции по полочкам и перейдем от теории к практике:</p>
            <ul>
                <li><b>Изучим природу интуиции.</b> Исследуем явление с точки зрения современной психологии,
                    нейробиологии,
                    философии и
                    духовных традиций.</li>
                <li><b>Определим достоверность реакций.</b> Научимся отличать настоящую интуицию от тревоги, страха,
                    сиюминутных
                    желаний и заученных реакций.</li>
                <li><b>Освободимся от прошлого.</b> Разберем, как прошлый опыт формирует наши решения и как перестать
                    быть его
                    заложником, создавая принципиально новое будущее.</li>
                <li><b>На практике научимся принимать решения, которые вам подходят.</b> Исследуем ваш принцип принятия
                    решений,
                    разберем разницу между реактивными и проактивными шагами и научимся не теряться, когда появляется
                    неопределенность.</li>
            </ul>
            <br>
            <p>Интуиция — это не магия. Это способность мозга мгновенно обрабатывать тысячи скрытых деталей до того, как
                включится медленный логический анализ. Но из-за фонового стресса и тревоги мы путаем этот сигнал со
                страхом
                или травмами прошлого.</p>
        </div>
        <div class="lecture__footer">
            <div class="lecture__footer-line">
                <p><b>Формат:</b></p>
                <p>Онлайн-лекция в записи (1 час 15 минут)</p>
            </div>
            <div class="lecture__footer-line">
                <p><b>Стоимость:</b></p>
                <p>1 100 ₽</p>
            </div>
        </div>
        <div class="lecture__button">

            {{button({theme:'primary', text:'Открыть доступ', class: 'lecture__button'})}}
        </div>
    </div>
</section>
{% endmacro %}