{% macro howItWorks(data) %}
<section class="how-it-works">
    <h2 class="how-it-works__title">как работает базовый курс</h2>
    <ul class="how-it-works__items">
        <li class="how-it-works__item">
            <svg class=" how-it-works__item-icon" width="45" height="45">
                <use href="/images/sprite/sprite.svg#icon-logo"></use>
            </svg>
            <p class=" how-it-works__item-description">Вы сталкиваетесь со своими привычными сценариями в действии</p>
        </li>
        <li class="how-it-works__item">
            <svg class=" how-it-works__item-icon" width="45" height="45">
                <use href="/images/sprite/sprite.svg#icon-logo"></use>
            </svg>
            <p class=" how-it-works__item-description">Прорабатываете их в групповой динамике</p>
        </li>
        <li class="how-it-works__item">
            <svg class=" how-it-works__item-icon" width="45" height="45">
                <use href="/images/sprite/sprite.svg#icon-logo"></use>
            </svg>
            <p class=" how-it-works__item-description">Пробуете новые способы реагировать на привычные ситуации в
                безопасной среде</p>
        </li>
        <li class="how-it-works__item">
            <svg class=" how-it-works__item-icon" width="45" height="45">
                <use href="/images/sprite/sprite.svg#icon-logo"></use>
            </svg>
            <p class=" how-it-works__item-description">Уносите с собой новый опыт проживания старых сценариев</p>
        </li>
    </ul>
</section>
{% endmacro %}