{% extends "layouts/base.njk" %}
{% from "blocks/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/cta/cta.njk" import cta %}
{% from "blocks/intro/intro.njk" import intro %}
{% from "blocks/about-course/about-course.njk" import aboutCourse %}
{% from "blocks/button/button.njk" import button %}
{% from "blocks/autobiography/autobiography.njk" import autobiography %}

{% block head %}
<link rel="stylesheet" href="/pages/master-course/master-course.scss" />
{% endblock %}

{% block content %}
{% call intro() %}
<h1 class="intro__heading">мастерский курс</h1>
<p class="intro__description">Три дня, чтобы заложить фундамент масштабных целей и открыть неподдельный интерес к
    собственной жизни</p>
{{button({theme:"primary", text:"Записаться на Мастерский курс"})}}
{% endcall %}
{% call aboutCourse({name:"мастерский курс", date:"6 - 9 августа 2026", place:"АЗИМУТ ОТЕЛЬ, ул. Смоленская, д.8,
Москва",
aim: "
<p><b>Цель: </b>стать Мастером своей жизни и начать влиять на процессы, которые происходят не только в ближайшем
    окружении твоих целей и твоих задач, но и на следующей орбите твоей жизни и твоего сознания.</p>
<p>Мастерский курс — это исследование глубинных принципов, которые управляют нашей жизнью. Мы будем работать с
    философией личности, сознанием и законами, по которым человек взаимодействует с миром. Откроем причины, по которым
    одни возможности становятся реальностью, а другие остаются недоступными..</p>
<p>Мы начнем изменять пространство, где формируются наши убеждения, выборы, жизненные стратегии и представления о себе.
</p>
",
footer:"<p>Курс сочетает философское исследование, практическую работу и трансформационные процессы, позволяющие
    не только понять новые идеи, но и начать применять их в своей жизни.</p><b>На Мастерский курс стоит идти только за
    очень большими целями!</b>",
price:"100 000"})
%}
<div class="about-course__info about-course__info_cols_2">
    <div class="about-course__col">
        <h3>Сюда стоит идти, если:</h3>
        <ul class="list">
            <li>вы уже занимаетесь своим развитием и хотите двигаться глубже;</li>
            <li>вам недостаточно просто менять поведение — вы хотите понимать причины происходящего;</li>
            <li>вас интересуют вопросы смысла, предназначения и устройства жизни;</li>
            <li>вы чувствуете, что готовы выйти за пределы привычного взгляда на себя и свои возможности;</li>
            <li>перед вами стоят большие цели, требующие нового уровня мышления и осознанности.</li>
        </ul>
    </div>
    <div class="about-course__col">
        <h3>За время курса мы исследуем:</h3>
        <ul class="list">
            <li> устройство сознания и механизмы формирования личности;</li>
            <li>глубинные убеждения и программы, влияющие на жизнь;</li>
            <li>природу доверия, выбора и ответственности;</li>
            <li>принципы взаимодействия человека с окружающим миром;</li>
            <li>причины, по которым мы не замечаем возможности, находящиеся прямо перед нами;</li>
        </ul>
    </div>
</div>
{% endcall %}
{{autobiography({title: "Сергей Насибян о Мастерском курсе",
text: [
"На Мастерском курсе, по сути, завершается всё, что я могу сказать о личностном росте.",
"Ты приходишь на Базовый курс, чтобы начать новую жизнь, и для этого тебе нужны костыли — инструменты, которые я даю. И
я это понимаю. Потом очень долго люди ходят с этими костылями, думая, что это вершина развития. Нет. Вершина развития —
это когда человек способен отбросить эти костыли. Мастерский курс позволяет отбросить костыли, на которые ты
опираешься.",
"Стать Мастером своей жизни- это трудная и кропотливая работа. Но ты получаешь результаты, которые ошеломляют. Потому
что, будучи Мастером, ты начинаешь влиять на процессы, которые происходят не только в ближайшем окружении твоих целей и
твоих задач, но и на следующей орбите твоей жизни и твоего сознания.",
"Стать Мастером может любой из нас, если посвятить этому время, это наша природа. И вряд ли вы услышите на Мастерском
что-то такое, что было бы незнакомо или непонятно.",
"Это говорит о том, что люди и так знают как быть Мастером, просто забыли об этом. Вот почему на Мастерский курс стоит
ходить снова и снова, каждый раз поражаясь его глубине.",
"Я приглашаю тебя на Мастерский курс, потому что в нашей жизни очень часто мы не можем получить желаемого по причине
того, что мы не видим возможностей, которые лежат у нас под самым носом.",
"Почему? Потому что мы смотрим привычным взглядом и не видим несоответствий. Хотя наша жизнь очень четко описана
законами не только физики, но и законами Вселенной, соблюдая которые, мы вводим свою жизнь в гармонию с окружающим нас
пространством.",
"На Мастерском курсе ты погрузишься в самые глубины своего сознания. Ты узнаешь обо всех процессах сознания, которые
сформировали твою личность еще до того, как ты стал себя помнить.",
"За три дня мы не только исследуем, но и спровоцируем огромное количество процессов. В результате вы уйдёте не только с
новыми знаниями, но и с инструментами интеграции этих знаний и с инструментами формирования новых навыков, для того,
чтобы ваше бессознательное перестало работать против вас.",
"После него тебе станет не просто легче жить, а гораздо интереснее.",
"Мастерский курс — это такая инъекция прямо в мозг."]
}) }}
{{cta({title:"записаться на Мастерский курс", modificator:"cta_no-top"})}}
{{ breadcrumbs([
{
name: "Главная",
url: "/main/"
},
{
name: "Тренинги",
url: "/trainings/"
},
{
name: "Мастерский курс",
url: "#"
}
]) }}
{% endblock %}

{% block scripts %}
<script type="module" src="/pages/master-course/master-course.js"></script>
{% endblock %}