.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

@media (max-width: 767px) {
  .container {
    padding-inline: var(--container-padding-mobile);
  }
}

.page_theme_dark {
  background: var(--color-dark);
}