.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

@media (max-width: 767px) {
  .container {
    padding-inline: var(--container-padding-mobile);
  }
}

.page_theme_dark {
  background: var(--color-dark);
  color: var(--color-pale-sandy);
}

.gradient_type_gold {
  position: relative;

  &::before {
    position: absolute;
    z-index: 1;
    content: '';
    inset: 0;
    border: 2px solid transparent;
    border-radius: 30px;
    background:
      linear-gradient(210.26deg,
        rgba(90, 64, 37, 0.3) 0%,
        rgba(14, 13, 11, 0.3) 65.82%) padding-box,

      linear-gradient(210.26deg,
        rgba(197, 152, 87, 0.2) 0%,
        rgba(90, 64, 37, 0.2) 100%) border-box;

  }

  &::after {
    position: absolute;
    z-index: 2;
    content: '';
    inset: 2px;
    border-radius: 30px;
    background-color: var(--color-dark);
    opacity: 0.3;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  @media (min-width:1200px) {
    font-size: 20px;
    font-weight: 400;
  }

  li {
    position: relative;
    padding-left: 24px;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: currentColor;
      border-radius: 50%;
      top: 11px;
      left: 10px;

      @media (min-width:1200px) {
        top: 15px;
      }
    }
  }
}

.button-next,
.button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid var(--color-accent-sand);
  border-radius: 40px;
  cursor: pointer;
  color: var(--color-accent-sand);
  position: relative;

  &:hover {
    background: var(--color-accent-sand);
    color: var(--color-white);
  }
}

.swiper-controls {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-button-lock {
  display: none;
}

.pswp img {
  object-fit: contain;
}