{% macro hero(data) %}
<section class="hero">
    <div class="hero__decor">
        <img class="image" src="/images/hero__circle.webp" alt="">
    </div>
    <div class="container hero__container">
        <div class="hero__image">
            <img class="image" alt="" src="/images/hero__photo.webp">
        </div>
        <div class="hero__title">
            <p class="hero__quote">«Себя познать труднее, чем мир вокруг»</p>
            <p class="hero__quote-author font_body_16L">- Сергей Насибян</p>
        </div>
    </div>
    <a class="hero__to-form" aria-label="Перейти к форме записи" href="#cta">
        <svg width="32" height="54">
            <use href="/images/sprite/sprite.svg#icon-arrow"></use>
        </svg>
    </a>
</section>
{% endmacro %}