.hero {
    position: relative;

    p {
        margin: 0;
    }

    &__image {
        width: 500px;
        height: 735px;
        content: '';
        position: absolute;
        z-index: 1;
        max-width: 100%;
        left: 50%;
        top: -95px;
        transform: translateX(-50%);

        @media (min-width:1200px) {
            left: 20px;
            top: -160px;
            transform: translateX(0);
        }
    }

    &__decor {
        position: absolute;
        top: 76%;
        right: 0;
        transform: translateY(-50%);
        z-index: 0;

        max-width: 600px;
        height: 720px;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;

            background:
                linear-gradient(to right,
                    #0e0d0b 0,
                    transparent 150px),
                linear-gradient(to bottom,
                    #0e0d0b 0,
                    transparent 150px,
                    transparent calc(100% - 150px),
                    #0e0d0b 100%);
        }

        .image {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: right center;
        }

        @media (min-width: 1200px) {
            top: 35%;
            height: 835px;
        }
    }

    &__container {
        position: relative;
        height: 1227px;

        @media (min-width: 1200px) {
            /* 710px - 155px (header height)*/
            height: 555px;
        }
    }


    &__title {
        position: relative;
        z-index: 2;
        top: 520px;
        margin: 0;

        @media (min-width: 1200px) {
            text-align: center;
            max-width: 360px;
            top: 50%;
            left: 440px;
            transform: translate(0, -50%);

        }
    }

    &__quote {
        font-family: var(--font-secondary);
        font-weight: 300;
        font-style: italic;
        font-size: 33px;
        color: var(--color-accent-sand);
        padding-bottom: 20px;
    }

    &__quote-author {
        color: var(--color-accent-pale);
        font-style: italic;
    }

    &__to-form {
        width: fit-content;
        position: absolute;
        z-index: 2;
        bottom: 58px;
        left: 32px;
        color: var(--color-accent-sand);

        @media (min-width:1200px) {
            display: none;
        }
    }
}