{% macro hero(data) %}
<section class="hero">
    <div class="container hero__container">
        <div class="hero__title">
            <p class="hero__quote">«Себя познать труднее, чем мир вокруг»</p>
            <p class="hero__quote-author font_body_16L">- Сергей Насибян</p>
        </div>
    </div>
</section>
{% endmacro %}