{% extends "layouts/base.njk" %}
{% from "blocks/hero/hero.njk" import hero %}

{% block head %}
<link rel="stylesheet" href="/pages/index/index.css" />
{% endblock %}

{% block content %}
{{hero()}}

{% endblock %}

{% block scripts %}
<script type="module" src="/pages/index/index.js"></script>
{% endblock %}