{% extends "layouts/base.njk" %}
{% from "blocks/hero/hero.njk" import hero %}
{% from "blocks/about/about.njk" import about %}

{% block head %}
<link rel="stylesheet" href="/pages/index/index.css" />
{% endblock %}

{% block content %}
{{hero()}}
{{about()}}

{% endblock %}

{% block scripts %}
<script type="module" src="/pages/index/index.js"></script>
{% endblock %}