{% extends "layouts/base.njk" %}
{% from "blocks/button/button.njk" import button %}

{% block head %}
  <link rel="stylesheet" href="/pages/index/index.css" />
{% endblock %}

{% block content %}
  <section>
    <div class="container" style="color:#FFF">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <p class="font_body_20R">font_body_20R<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
      <p class="font_body_20L">font_body_20L<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
      <p class="font_body_16B">font_body_16B<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
      <p class="font_body_16M">font_body_16M<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
      <p class="font_body_16L">font_body_16L<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
      <p class="font_body_16LI">font_body_16LI<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
      <p class="font_small_14L">font_small_14L<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
      <p class="font_small_12R">font_small_12R<br>«Всё, чему я научился, это проживать каждую минуту своей жизни с максимальной пользой для себя. И как бы эгоистично это не звучало, чем больше пользы я получаю от проживания этой жизни, тем больше пользы я приношу всем окружающим, потому что не делиться этим в результате не получается. Когда тебя это переполняет, начинаешь делиться.» </p>
    </div>
  </section>
  <hr>
  <section>
    <div class="container">
      {{button({text:"Button", theme: "primary"})}}
      {{button({text:"Button", theme: "secondary"})}}
      {{button({text:"Button", theme: "primary", disabled: true})}}
      {{button({text:"Button", theme: "secondary", disabled: true})}}
    </div>
  </section>
  <hr>
{% endblock %}

{% block scripts %}
  <script type="module" src="/pages/index/index.js"></script>
{% endblock %}
