{% macro bio(data) %}
<section class="bio">
    <div class="bio__wrap container">
        <div class="bio__items">
            <h2 class="bio__title">Сергей насибян</h2>
            <div class="bio__image">
                <img src="/images/bio.webp" alt="Сергей Насибян" loading="lazy">
            </div>
            <div class="bio__info">
                <h3>Профессиональный опыт</h3>
                <ul>
                    <li>Клинический психолог, психоаналитик, практикующий психолог и тренер с опытом работы более 17 лет
                    </li>
                    <li>Автор и ведущий корпоративных тренинговых программ для банков, фармацевтических и сервисных
                        компаний</li>
                    <li>Вице-президент «Международной ассоциации провокативного и парадоксального подхода
                        в психотерапии»</li>
                    <li>Ведущий авторской программы «Провокация» на радио «Маяк» и подкаста «Триггеры» в программе
                        «Подкаст.Лаб» на Первом канале</li>
                    <li>Приглашенный эксперт на радиостанциях «Серебряный дождь», «Москва», и на телеканалах «Домашний»,
                        «Доверие 24», НТВ</li>
                    <li>Консультант сериала «Триггер» (1 сезон). В основе сценария — автобиография с кейсами из личной
                        практики</li>
                    <li>Соавтор книги «Провокатор. Загляни своим страхам в лицо» </li>
                    <li>Программный директор Forbes Ontology</li>
                    <li>Автор и ведущий трасформационнных курсов</li>
                    <li>Эксперт по персональному развитию</li>
                </ul>
                <h3>Образование</h3>
                <ul>
                    <li>ФГАОУ ВО РНИМУ им. Пирогова Минздрава России. Клиническая психология</li>
                    <li>НИУ ВШЭ. Психоанализ, Бизнес- консультирование и исследование</li>
                    <li>МИКХиС. «Управление инвестиционными потоками»</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endmacro %}