{% macro trainings(data) %}
<section class="trainings">
    <ul class="trainings__items">
        <li class="trainings__item">
            <a class="trainings__item-link" href="#">
                <svg class="trainings__item-icon" width="45" height="45">
                    <use href="/images/sprite/sprite.svg#icon-logo"></use>
                </svg>
                <p class="trainings__item-title">Базовый курс</p>
                <p class="trainings__item-description">«Что, если я только начал разбираться в себе и заметил
                    ограничивающие убеждения?»</p>
            </a>
        </li>
        <li class="trainings__item">
            <a class="trainings__item-link" href="#">
                <svg class="trainings__item-icon" width="45" height="45">
                    <use href="/images/sprite/sprite.svg#icon-logo"></use>
                </svg>
                <p class="trainings__item-title">Эстафета</p>
                <p class="trainings__item-description">Много понял, но&nbsp;продолжаешь жить по-старому?</p>
            </a>
        </li>
        <li class="trainings__item">
            <a class="trainings__item-link" href="#">
                <svg class="trainings__item-icon" width="45" height="45">
                    <use href="/images/sprite/sprite.svg#icon-logo"></use>
                </svg>
                <p class="trainings__item-title">Стыд. вина. одиночество</p>
                <p class="trainings__item-description">Пришло время пережить самые сложные сценарии твоих блоков и
                    отпустить их</p>
            </a>
        </li>
        <li class="trainings__item">
            <a class="trainings__item-link" href="#">
                <svg class="trainings__item-icon" width="45" height="45">
                    <use href="/images/sprite/sprite.svg#icon-logo"></use>
                </svg>
                <p class="trainings__item-title">мастерский курс</p>
                <p class="trainings__item-description">Ты на своем пути, но нужен резкий перелом сознания?</p>
            </a>
        </li>
    </ul>
</section>
{% endmacro %}