{% macro mystery(data) %}
<section class="mystery">
    <div class="mystery__container container">
        <div class="mystery__section">
            <img src="/images/mystery1.webp" alt="мистика" loading="lazy">
            <p>Я много лет исследую сознание: сначала через психологию, затем через медитацию, дыхательные практики,
                восточные традиции и путешествия к местам, которые веками были пространствами духовного поиска.</p>
        </div>
        <div class="mystery__section">
            <img src="/images/mystery2.webp" alt="мистика" loading="lazy">
            <p>Мне неинтересно предлагать человеку очередную систему верований. Меня интересует момент, когда на
                некоторое
                время исчезает тот, кто всё объясняет, оценивает и контролирует, и остаётся непосредственный опыт
                происходящего. Практика для меня начинается именно здесь. Не в попытке человека стать лучше и не в
                бегстве
                от собственной жизни — а во всё более ясном присутствии в ней.</p>
        </div>
    </div>
    <div class="mystery__devider"></div>
</section>
{% endmacro %}