{% macro practices(data) %}
<section class="practices">
    <div class="practices__devider"></div>
    <div class="practices__wrap container">
        <h2 class="practices__title">Какие практики ведут к трансформации</h2>
        <p class="practices__description">Мистика начинается там, где знание о себе перестаёт удовлетворять, заменяя
            встречу с собой</p>
        <div class="practices__items">
            <div class="practices__section">
                <img src="/images/practices1.webp" alt="Дыхательные практики" loading="lazy">
                <div class="section__info">
                    <h3 class="practices__section-title">Дыхательные практики</h3>
                    <p>Дыхание находится на границе сознательного и бессознательного: оно происходит само и одновременно
                        подчиняется нашей воле. Работа с дыханием связывает воедино тело, эмоции, внимание и состояние
                        сознания. Для меня дыхание — не техника достижения особого состояния, а один из прямых путей
                        возвращения к присутствию.</p>
                </div>
            </div>
            <div class="practices__section">
                <img src="/images/practices3.webp" alt="Медитации" loading="lazy">
                <div class="section__info">
                    <h3 class="practices__section-title">Медитации</h3>
                    <p>Медитация — не попытка остановить мысли и не способ стать спокойнее. Это практика наблюдения.
                        Постепенно человек обнаруживает, что мысли, эмоции, страхи и даже представление о себе возникают
                        и исчезают. И тогда появляется один из важнейших вопросов: если всё это можно наблюдать — кто
                        наблюдает?</p>
                </div>
            </div>
            <div class="practices__section">
                <img src="/images/practices2.webp" alt="Ретриты" loading="lazy">
                <div class="section__info">
                    <h3 class="practices__section-title">Ретриты</h3>
                    <p>В обычной жизни наше внимание непрерывно занято внешним миром. Ретрит временно убирает часть
                        привычного шума — роли, разговоры, задачи, социальные реакции. Не для того, чтобы спрятаться от
                        жизни, а чтобы яснее увидеть то, что в обычной жизни постоянно перекрывается шумом.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endmacro %}