.main-vector {
    position: relative;
    z-index: 3;
    padding-block: 60px;

    &__wrap {
        position: relative;
        z-index: 3;
        padding: 40px 16px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        @media (min-width:1200px) {
            padding: 40px 60px;
            flex-direction: row;
        }
    }

    &__title {
        margin: 0;
        color: var(--color-accent-sand);
        text-align: center;
        font-weight: 400;
        font-size: 29px;
        line-height: 120%;

        @media (min-width:1200px) {
            font-size: 42px;
            line-height: 120%;
            text-align: left;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        @media (min-width:1200px) {
            align-items: flex-start;
        }
    }

    &__description {
        margin: 0;
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        text-align: center;

        @media (min-width:1200px) {
            font-weight: 300;
            font-size: 20px;
            line-height: 160%;
        }
    }

    img {
        object-position: center center;
        max-width: 432px;
        width: 100%;

        @media (min-width:1200px) {
            width: 390px;
            height: auto;
            object-fit: cover;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;

        li {
            position: relative;
            padding-left: 30px;

            &::before {
                content: '';
                position: absolute;
                top: 5px;
                left: 0;
                width: 12px;
                height: 12px;
                background: var(--color-accent-sand);
                border-radius: 50%;
            }
        }
    }

    .button_type_link {
        width: 100%;

        @media (min-width:768px) {
            width: fit-content;
        }
    }
}