{% extends "layouts/base.njk" %}
{% from "blocks/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/intro/intro.njk" import intro %}
{% from "blocks/books/books.njk" import books %}

{% block content %}
{% call intro({class:'intro_empty'}) %}
{% endcall %}

{{books()}}
{{ breadcrumbs([
{
name: "Главная",
url: 'main/' | url
},
{
name: "О Сергее Насибяне",
url: 'about/' | url
},
{
name: "Книги",
url: "#"
}
]) }}
{% endblock %}