{% from "blocks/button/button.njk" import button %}
{% extends "layouts/base.njk" %}


{% block content %}
<section class="error">
    <div class="container error__container">
        <div class="error__info">
            <p class="error__title">404</p>
            <h1 class="error__heading">Ошибка! Страница не найдена...</h1>
            {{button({text:"на главную", theme:"tertiary", type:"link", href:"#"})}}
        </div>
        <div class="error__image">
            <img src="{{ 'images/compos.webp' | url }}" alt="">
        </div>
    </div>
</section>

{% endblock %}

