{% macro pages(data) %}
<section class="pages">
    <svg class="pages__wave" width="278" height="760" fill="none" viewBox="0 0 278 760">
        <path
            d="M51.5107 0.369873C90.5107 35.8699 205.636 20.8699 217.511 96.3699C230.172 176.87 150.044 188.091 114.5 193.87C13.0105 210.37 -2.82262 277.078 1.01071 305.87C-1.32972 327.807 18.1864 398.147 114.5 388.37C213.011 378.37 277.01 397.644 277.01 473.507C277.01 542.87 203.39 554.893 152.011 551.37C64.5107 545.37 28.0107 597.324 28.0107 633.87C28.0107 670.416 46.0107 727.87 154.01 739.324C190.422 743.186 236.511 759.87 236.511 759.87"
            stroke="url(#paint0_linear_1939_691)" />
        <defs>
            <linearGradient id="paint0_linear_1939_691" x1="58.5106" y1="7.36991" x2="240.011" y2="760.37"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#E3A352" stop-opacity="0.1" />
                <stop offset="0.202775" stop-color="#E3A352" />
                <stop offset="0.803621" stop-color="#E3A352" />
                <stop offset="1" stop-color="#E3A352" stop-opacity="0.1" />
            </linearGradient>
        </defs>
    </svg>
    <div class="pages__items">
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="40" height="40">
                <use href="/images/sprite/sprite.svg#icon-moon"></use>
            </svg>
            <p class="pages__item-title">мистика</p>
            <p class="pages__item-description">исследование сознания и природы реальности</p>
        </a>
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="40" height="40">
                <use href="/images/sprite/sprite.svg#icon-psi"></use>
            </svg>
            <p class="pages__item-title">Психология</p>
            <p class="pages__item-description">понимание человека,его эмоций, травми внутренних механизмов</p>
        </a>
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="56" height="26">
                <use href="/images/sprite/sprite.svg#icon-infinity"></use>
            </svg>
            <p class="pages__item-title">философия</p>
            <p class="pages__item-description">поиск смысла,истины и понимания устройства человека и мира</p>
        </a>
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="40" height="40">
                <use href="/images/sprite/sprite.svg#icon-logo"></use>
            </svg>
            <p class="pages__item-title">Тренинги</p>
            <p class="pages__item-description">практика, опыт,трансформацияи реальные изменения</p>
        </a>
    </div>
</section>
{% endmacro %}