{% macro pages(data) %}
<section class="pages">
    <div class="pages__items">
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="40" height="40">
                <use href="/images/sprite/sprite.svg#icon-moon"></use>
            </svg>
            <p class="pages__item-title">мистика</p>
            <p class="pages__item-description">исследование сознания и природы реальности</p>
        </a>
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="40" height="40">
                <use href="/images/sprite/sprite.svg#icon-psi"></use>
            </svg>
            <p class="pages__item-title">Психология</p>
            <p class="pages__item-description">понимание человека,его эмоций, травми внутренних механизмов</p>
        </a>
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="56" height="26">
                <use href="/images/sprite/sprite.svg#icon-infinity"></use>
            </svg>
            <p class="pages__item-title">философия</p>
            <p class="pages__item-description">поиск смысла,истины и понимания устройства человека и мира</p>
        </a>
        <a class="pages__item" href="#">
            <svg classs="pages__item-icon" width="40" height="40">
                <use href="/images/sprite/sprite.svg#icon-logo"></use>
            </svg>
            <p class="pages__item-title">Тренинги</p>
            <p class="pages__item-description">практика, опыт,трансформацияи реальные изменения</p>
        </a>
    </div>
</section>
{% endmacro %}