.schedule {
    padding-block: 60px;
    position: relative;
    z-index: 3;

    &__title {
        margin: 0;
        text-align: center;
        color: var(--color-accent-sand);
        padding-bottom: 32px;

        @media (min-width:1200px) {
            padding-bottom: 40px;
        }
    }

    .swiper-wrapper {
        max-height: 1200px;

        @media (min-width:768px) {
            max-height: 900px;
        }
    }
}