{% from "blocks/button/button.njk" import button %}

{% macro aboutConsultation(data) %}
<section class="about-consultation">
    <div class="about-consultation__container ">

        <div class="about-consultation__section container container_width_middle">
            <h2 class="about-consultation__title">Консультация нужна, если вы:</h2>
            <ul>
                <li>Живете в состоянии фоновой тревоги, стресса или эмоционального выгорания.</li>
                <li>Застряли в повторении одних и тех же ошибок в отношениях, бизнесе или карьере.</li>
                <li>Не можете принять ключевое решение из-за страха, неуверенности или внутреннего конфликта.</li>
                <li>Устали доказывать свою ценность через трудоголизм и не чувствуете удовлетворения от результатов.
                </li>
                <li>Хотите научиться управлять эмоциями, выстраивать границы и прекратить жить из чувства вины или
                    стыда.
                </li>
            </ul>
        </div>
        <div class="container container_width_middle">
            <div class="gradient_type_gold">
                <div class="about-consultation__record">
                    <h2 class="about-consultation__record-title">Ищете решение своей проблемы?</h2>
                    {{button({theme:'primary', type:'link', href:'#cta', text:'Записаться на консультацию'})}}
                </div>
            </div>
        </div>
        <div class="devider"></div>
        <div class="about-consultation__section container container_width_middle">
            <h2 class="about-consultation__title">Что вы получите в результате работы:</h2>
            <ul>
                <li><b>Четкую систему вместо хаоса</b> — наведете порядок в мыслях, систематизируете свой опыт и поймете
                    истинные причины происходящего с вами.</li>
                <li><b>Выход из затянувшихся тупиков</b> — найдете решения конфликтов в семье или бизнесе и построите
                    понятный
                    план достижения своих целей.</li>
                <li><b>Устойчивую внутреннюю опору</b> — разблокируете скрытые ресурсы психики и перестанете сливать
                    энергию на
                    фоновый стресс и сомнения.</li>
                <li><b>Здоровые и понятные границы</b> — научитесь выстраивать отношения с окружением без манипуляций,
                    чувства
                    вины и взаимных претензий.</li>
                <li><b>Качественно новый уровень жизни</b> — начнете действовать из точки собственных возможностей и
                    ценностей,
                    а не из чужих ожиданий.</li>
            </ul>
        </div>
    </div>

</section>
{% endmacro %}