{% from "blocks/button/button.njk" import button %}

{% macro myApproach(data) %}
<section class="my-approach">
    <div class="my-approach__image_start">
        <img src="/images/1.webp" alt="" loading="lazy">
    </div>
    <div class="my-approach__section my-approach__section_way">
        <h2 class="my-approach__title">мой подход</h2>
        <div class="my-approach__text">
            <p>Я не призываю искать готовые ответы или универсальные решения.</p>
            <p>В работе мы исследуем, что на самом деле стоит за вашим запросом: повторяющиеся сценарии, внутренние
                конфликты, тревогу, страхи и решения, которые когда-то помогали справляться, но сегодня перестали
                работать.</p>
            <p>Моя задача — не просто помочь вам понять себя, а вместе найти ту точку, с которой начинаются реальные
                изменения.</p>
        </div>
    </div>
    <div class="my-approach__section my-approach__section_work">
        <img src="/images/phylosophy.webp" alt="Сергей Насибян" loading="lazy">
        <div class="my-approach__work">
            <h2 class="my-approach__title">личная работа</h2>
            <p class="my-approach__work-description">Пространство для глубокой встречи с тем, что не увидеть со стороны
            </p>
            {{button({type:'link', url:'#', text:'подробнее о консультации', theme:'tertiary'})}}
        </div>
    </div>
    <div class="my-approach__section my-approach__section_quote">
        <div class="my-approach__image_end">
            <img src="/images/2.webp" alt="" loading="lazy">
        </div>
        <p>«Чтобы понять, с чего начать путь изменений, важно определить свой внутренний запрос»</p>
    </div>
</section>
{% endmacro %}