{% extends "layouts/base.njk" %}
{% from "blocks/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/cta/cta.njk" import cta %}
{% from "blocks/intro/intro.njk" import intro %}
{% from "blocks/main-vector/main-vector.njk" import mainVector %}
{% from "blocks/my-approach/my-approach.njk" import myApproach %}

{% block head %}
<link rel="stylesheet" href="/pages/philosophy/philosophy.scss" />
{% endblock %}

{% block content %}
{% call intro({toForm: true}) %}
<h1 class="intro__heading">Философия</h1>
<div class="intro__quote">
    <p class="color_sand">«Ты не свободен от того, чему сопротивляешься.<br><br>Законы вселенной — это не набор идей,
        это способы смотреть
        на
        реальность и собственную жизнь»</p>
    <p class="font_body_16LI phylosophy__qoute-author">- Сергей Насибян</p>
</div>
{% endcall %}
{{myApproach()}}
{{mainVector()}}
{{cta({title:"записаться на тренинг"})}}
{{ breadcrumbs([
{
name: "Главная",
url: "/main/"
},
{
name: "О Сергее Насибяне",
url: "/about/"
},
{
name: "Философия",
url: "#"
}
]) }}
{% endblock %}

{% block scripts %}
<script type="module" src="/pages/philosophy/philosophy.js"></script>
{% endblock %}