{% extends "layouts/base.njk" %}
{% from "blocks/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/cta/cta.njk" import cta %}
{% from "blocks/intro/intro.njk" import intro %}
{% from "blocks/about-course/about-course.njk" import aboutCourse %}
{% from "blocks/button/button.njk" import button %}
{% from "blocks/faq/faq.njk" import faq %}

{% block head %}
<link rel="stylesheet" href="/pages/basic-course/basic-course.scss" />
{% endblock %}

{% block content %}
{% call intro() %}
<h1 class="intro__heading">базовый курс</h1>
<p class="intro__description">Три дня глубокой трансформации, которые уберут ограничивающие установки 
    и выведут эффективность на новый уровень</p>
{{button({theme:"primary", text:"Записаться на Базовый курс"})}}
{% endcall %}
{% call aboutCourse({name:"Базовый курс", date:"10 - 12 июля 2026", place:"АЗИМУТ ОТЕЛЬ, ул. Смоленская, д.8, Москва",
aim: "
<p><b>Цель: </b>Увидеть и изменить установки и убеждения, мешающие получить желаемый результат во всех сферах жизни.</p>
<p>Курс помогает понять и осознать свои реакции, и начать менять деструктивные поведенческие шаблоны.</p>
",
price:"79 000", footer:"<p>Курс проходит в офлайн-формате в группе единомышленников.  Все участники объединены желанием
    изменить свою жизнь к лучшему, готовностью принять помощь и выйти на новый этап.</p>"})
%}
<div class="about-course__info">
    <h3>За три дня вы сможете:</h3>
    <ul class="list">
        <li class="list__li">разобраться в повторяющихся конфликтах и улучшить отношения с близкими, партнёром или
            коллегами;</li>
        <li class="list__li">выйти из привычных сценариев, которые мешают двигаться вперёд;</li>
        <li class="list__li">перестать топтаться на месте и начать принимать решения, ведущие к изменениям;</li>
        <li class="list__li">найти внутренние ресурсы и опору в сложный период жизни;</li>
        <li class="list__li">лучше понимать свои реакции, чувства и мотивы;</li>
        <li class="list__li">обрести больше ясности в том, чего вы действительно хотите и как к этому прийти;</li>
        <li class="list__li">восстановить контакт с собой, своими ценностями и желаниями;</li>
        <li class="list__li">чувствовать больше уверенности в собственных решениях и выборе.</li>
    </ul>
</div>
{% endcall %}
{{faq()}}
{{cta({title:"записаться на базовый курс"})}}
{{ breadcrumbs([
{
name: "Главная",
url: "/main/"
},
{
name: "Тренинги",
url: "/trainings/"
},
{
name: "Базовый курс",
url: "#"
}
]) }}
{% endblock %}

{% block scripts %}
<script type="module" src="/pages/basic-course/basic-course.js"></script>
{% endblock %}