{% from "blocks/header/header.njk" import header %}
{% from "blocks/footer/footer.njk" import footer %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.meta.title }}{% if page.meta.title %} - {% endif %}{{ global.site.name }}</title>

  {% if page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}" />
  {% endif %}

  {% if page.meta.canonical %}
  <link rel="canonical" href="{{ page.meta.canonical }}" />
  {% endif %}

  <link rel="icon" href="/favicon.ico" />

  {# Global styles #}
  <link rel="stylesheet" href="/styles/fonts.css" />

  <link rel="stylesheet" href="/styles/reset.css" />

  <link rel="stylesheet" href="/styles/variables.css" />

  <link rel="stylesheet" href="/styles/typography.css" />

  <link rel="stylesheet" href="/styles/globals.css" />

  {#
  CSS and JS for blocks are injected
  automatically by vite.config.js.
  #}

  {% block head %}{% endblock %}
</head>

<body class="page_theme_dark">

  {{
  header({
  navigation: global.navigation,
  siteName: global.site.name,
  base: base
  })
  }}

  <main>
    {% block content %}{% endblock %}
  </main>

  {{
  footer({
  siteName: global.site.name
  })
  }}

  {# Global JS #}
  <script type="module" src="/scripts/main.js"></script>

  {% block scripts %}{% endblock %}

</body>

</html>