.cartoon {
    padding-block: 60px;
    font-family: var(--font-primary);
    text-align: center;

    &__title {
        color: var(--color-accent-sand);
        margin: 0;
        padding-bottom: 40px;
    }

    &__info {
        margin: 0;
        padding-bottom: 40px;
    }

    &__wrap {
        max-width: 794px;
        margin: 0 auto;
    }

    lite-youtube {
        margin: 0 auto;
        border-radius: 20px;
    }
}