{% macro cartoon(data) %}
<section class="cartoon container">
    <h2 class="cartoon__title">мультфильм «Избавление от травмы»</h2>
    <div class="cartoon__wrap">
        <p class="cartoon__info font_body_16L">В мультфильме я постарался простыми словами рассказать, как возникает и
            блокируется в
            сознании ребёнка травма, которая повлияет на всю его последующую жизнь, и какая, вместе со специалистом,
            проводится внутренняя работа для избавления от этой травмы.</p>
        <lite-youtube videoid="ya2nXuFf7KU" playlabel="мультфильм «Избавление от травмы»"></lite-youtube>
    </div>
</section>
{% endmacro %}