{% extends "layouts/base.njk" %}
{% from "blocks/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/intro/intro.njk" import intro %}
{% from "blocks/faq-page/faq-page.njk" import faqPage %}
{% from "blocks/cta/cta.njk" import cta %}

{% block content %}
{% call intro({class:'intro_empty'}) %}
{% endcall %}
{{faqPage(page)}}
{{cta({title:'Задать вопрос'})}}
{{ breadcrumbs([
{
name: "Главная",
url: 'main/' | url
},
{
name: "О Сергее Насибяне",
url: 'about/' | url
},
{
name: "Часто задаваемые вопросы",
url: "#"
}
]) }}
{% endblock %}